<% provide(:title, @category.name) %>

<div class="container">
<!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
			<h2 class="page-title"><%= @category.name %></h2>
			<hr>
        </div>
    </div>
    <!-- /.row -->
	 
<div class="row">
   <div class="col-md-8">	    
	   <div class="post_details">
			<ul class="list cat-list">  
			<% @posts.each do |post| %>	
			    <li>
			    <h2><%= link_to post.title, post %></h2>
			    <div class="entry-meta">
			        <span><i>Posted: <%= time_ago_in_words(post.created_at) %> ago.</i></span>
			    </div>
			    <p><%= truncate(post.content, length: 100, escape: false,
			    separator: '') { link_to ' Read More', post_path(post) } %></p>
				</li>			  
			<% end %>
			</ul>
			
			<% if (@posts.empty?) %> 
				<h4>Sorry, no post found!</h4>  
			<% end %> 
			<br>
		</div>	
	</div>

	<!-- Start col-sm-4 -->
		<div class="col-sm-4 ">
			<div class="blog_right_sidebar">
                <div class="author_widget">
                	<h4><strong>Author</strong></h4><hr>
					 <p><img src="/assets/blink.gif" width="35%"> </p>	
					 <strong>Charlie Barber</strong>
					 <p>Senior Rails developer</p>				
				</div>
				<hr>
				
			<h4 class="widget_title">Categories</h4><hr>
				<ul class="list cat-list">
				<% Category.all.each do |category| %>
                   <%= link_to  category.name, category, class: "btn btn-default" %>                    
                <% end %>			
			</ul>
			</div>
		</div>		
		<!-- End col-sm-4 --> 

</div>
</div>